 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  height: 1080px;
 width: 1440px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}.welcome-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
#welcome {
    color: #333;
}